body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: start;
}
#chat {
  width: 20%;
  height: 100vh;
  border: 1px solid black;
}
.status {
  display: flex;

  border: 1px solid black;
}
.izquierda {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  gap: 10px;
  border: 1px solid black;
}
.card-izquierda {
  display: flex;
  justify-content: flex-start;
 
  gap: 10px;
  border: 1px solid black;
}
.izquierda > img {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  border-radius: 50%;
}
.card-izquierda > img {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  border-radius: 50%;
}
.derecha {
  width: 25%;
  border: 1px solid black;
}
.boton {
height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#screen {
  display: flex;
  width: 80%;
  height: 100vh;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #e8ebe4;
}
