body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: start;
}
#chat {
  width: 20%;
  background-color: white;
  border: 1px solid #BEC1BB;
}
.status {
  display: flex;

  border: 1px solid #BEC1BB;
}
.izquierda {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  gap: 10px;
  
}
.card-izquierda {
  display: flex;
  justify-content: flex-start;

  gap: 10px;
  border: 1px #BEC1BB;
}
.izquierda > img {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  border-radius: 80%;
}

.card-izquierda > p{
  font-size: 14px;
}
.card-izquierda > img {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  border-radius: 80%;
}
.derecha {
  width: 25%;
  
}
.boton {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #BEC1BB;
}
button {
  background-color: #a491d2; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#screen {
  display: flex;
  width: 80%;
  border: 1px solid #BEC1BB;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #e8ebe4;
}

.img-screen {
  display: flex;
border-radius: 2%;
  background: #393939;
  width: 30%;
  height: 30%;
}
.img-screen > img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
.content-screen {
  gap: 5px;
  width: 80%;
}
.texto1 > p{
  font-size: 45px;
}
.texto2 > p{
  font-size: 16px;
}